* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(247, 225, 30);
}

#title {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 60px;
}

@media screen and (max-width: 750px){
    #title {
        font-size: 40px;
    }
}

#description {
    text-align: center;
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: large;
}

#calculator_container {
    height: 550px;
    width: 25%; 
    margin: auto;
}

@media screen and (max-width: 1200px) {
    #calculator_container {
        width: 30%; 
    }
}

@media screen and (max-width: 1100px) {
    #calculator_container {
        width: 35%; 
    }
}

@media screen and (max-width: 1000px) {
    #calculator_container {
        width: 40%; 
    }
}

@media screen and (max-width: 900px) {
    #calculator_container {
        width: 45%; 
    }
}

@media screen and (max-width: 800px) {
    #calculator_container {
        width: 50%; 
    }
}

@media screen and (max-width: 700px) {
    #calculator_container {
        width: 55%; 
    }
}

@media screen and (max-width: 600px) {
    #calculator_container {
        width: 60%; 
        height: 500px;
    }
}

@media screen and (max-width: 500px) {
    #calculator_container {
        width: 65%; 
        height: 450px;
    }
}

@media screen and (max-width: 400px) {
    #calculator_container {
        width: 70%; 
        height: 400px;
    }
}

@media screen and (max-width: 300px) {
    #calculator_container {
        width: 75%; 
        height: 100px;
    }
}

 #calculator {
    height: 100%;
    padding: 10px;
    width: auto;
    margin: auto;
    border-radius: 10px;
}

#result {
    display: flex;
    height: 25%;
    width: 115%;
    text-align: end;
    padding: 10px;
    border: none;
    font-size: 60px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color:rgb(32, 16, 16);
    color: white;
}

::placeholder {
    color: rgb(184, 6, 6);
  }

#button_wrapper{
    height: 75%;
    width: 115%;
    display: grid;
    grid-template-columns: repeat(4,75px);
    gap: 10px 15px; 
    padding: 10px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: rgb(14, 7, 7);
} 

button {
    border-radius: 10%;
    font-size: 30px;
    border: none;
}

#clear,#multiply,#divide,#equal,#add,#subtract,#backspace,#point {
    background-color: rgb(251, 255, 255);
}

button:hover {
    cursor: pointer;
}

#equal {
width: 165px;
}